image: python:3.8

pipelines:
  branches:
    branchname:
      - step:
          name: LFS Automated Conversion with SSH
          caches:
            - pip
          script:
            - pwd & ls -lah
            - pip install -r requirements.txt
            - apt-get update && apt-get install git-lfs -y
            - echo $env_file | base64 --decode > .env
            - cat .env
            - mkdir tmpdir && ls tmpdir/
            - python3 main.py
            - ls -R tmpdir/
          after-script:
            - echo "CLEANUP"
            - ls -lah && ls -lah tmpdir/
            - curl -s -L --user $creds "https://api.bitbucket.org/2.0/repositories/castenar/git-lfs-scripts/src/master/scripts/lfs-storage-deletion.sh" > tmpdir/lfs-storage-deletion.sh
            - ls tmpdir/
            - cat tmpdir/lfs-storage-deletion.sh
            - cd tmpdir/LFS_CLONE
            - git lfs ls-files --debug -a| grep oid | awk 'FNR >= 1 {print $3}' > /tmp/oid.txt
            - cd ../../ && pwd && ls
            - ls -lah tmpdir/
            - cat tmpdir/oid.txt
            - chmod +x tmpdir/lfs-storage-deletion.sh
            - ./tmpdir/lfs-storage-deletion.sh
            - cd LFS_CLONE_backup && git push --force